#ourstory
{
	background-image:url("/static/images/danPhoto.jpg");
  background-attachment: fixed;
  padding-bottom:20%;
  overflow-y: auto; 
}

#ourstory .title
{
  color:#fff;
}

.ourstory_section
{
  width:40%;
  min-width:300px;
  margin-left:5%;
  margin-top:32px;
  background-color:rgba(255,255,255,0.9);
  box-shadow:10px 10px 10px 5px rgba(32,32,32,0.6);
  float:left;
  padding:16px;
  color:#262626;
  font-size:1.25em;

}

.ourstory_section h2
{
  text-align: center;
}

